html, body, :global(#root) {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  overflow: hidden;
  background: #171722;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  overflow: hidden;
}

.arc {
  fill: #303035;
}
